* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: rgba(0, 0, 0, 0.382);
}

.calculator {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   height: 460px;
   border-radius: 20px;
   padding: 25px 20px;
   background-color: white;
   box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);

}

.calculator form {
   width: 100%;
   height: 100%;
}

.result_input {
   width: 100%;
   padding: 5px 12px;
   background-color: white;
   color: black;
   text-align: end;
   font-size: 30px;
   font-weight: bold;
   font-family: sans-serif;
   margin-bottom: 20px;
   border: none;
   border-radius: 5px;
   border-bottom: 1px solid black;
}

.input {
   width: 100%;
   padding: 5px 12px;
   font-size: 40px;
   font-weight: bold;
   text-align: end;
   outline: none;
   border: none;
   border-radius: 5px;
   margin-bottom: 30px;
   background-color: white;
   color: black;
   border-bottom: 1px solid black;
}

.box {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 15px;
}

button {
   width: 52.8px;
   height: 52.8px;
   font-size: 30px;
   font-weight: bold;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.13);
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   transition: 0.3s;
   cursor: pointer;
}

button:hover {
   background-color: rgb(235, 229, 229);
}

.contain_btn {
   background-color: orangered;
}
.contain_btn:hover {
   background-color: orangered;
}

.no-drop{
   cursor: no-drop;
}

.active-btn {
   background-color: rgba(0, 0, 0, 0.122);
}

button:active {
   transform: scale(0.8);
}

.no-drop:active {
   transform: scale(1);
}
