* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   /* background-color: white; */
   background-color: white;
}

.calculator {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   height: 460px;
   border-radius: 20px;
   padding: 25px 20px;
   background-color: white;
   box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);

}

.calculator form {
   width: 100%;
   height: 100%;
}

.result_input {
   width: 100%;
   padding: 5px 12px;
   font-size: 30px;
   font-weight: bold;
   font-family: sans-serif;
   color: black;
   margin-bottom: 10px;
   border: none;
   outline: none;
   text-align: end;
   background-color: white;
}

.input {
   width: 100%;
   padding: 5px 12px;
   font-size: 40px;
   font-weight: bold;
   text-align: end;
   outline: none;
   border: none;
   border-radius: 5px;
   margin-bottom: 40px;
   background-color: gold;
   color: black;
   box-shadow: 0px 1px 5px 0px black;
}

.box {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 15px;
}

button {
   width: 52.8px;
   height: 52.8px;
   font-size: 30px;
   font-weight: bold;
   border-radius: 10px;
   border: 0px solid rgb(255, 255, 255, 0.8);
   background-color: gold;
   color: black;
   box-shadow: 0px 1px 5px 0px black;
   transition: 0.2s;
   cursor: pointer;
}

.contain_btn {
   background-color: orangered;
}

.no-drop{
   cursor: no-drop;
}

.active-btn {
   background-color: aqua;
}

button:active {
   transform: scale(0.8);
}

.no-drop:active {
   transform: scale(1);
}
